/* POCETAK CSS-A */

/* TEMA CSS */

* {
  color: #555;
  font-family: "Nunito";
  color:#fff;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
}

body {
  background: linear-gradient(to right,#243665,#8BD8BD);
}

/* TEMA (header,footer) */

/* header */

.bg {
  background: linear-gradient(to right,#243665,#8BD8BD);
  padding: 10px 0;
}

header h1 {
  color: #8BD8BD;
  letter-spacing: 1px;
}

header div {
  font-style: italic;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

#nav {
  background: #ccc;
  border-radius: 50px;
  padding: 10px;
}

#nav a {
  color: #243665;
  font-weight: 400;
}

#nav li:hover {
  background: #243665;
  border-radius: 8px;
}

#nav a:hover {
  color: #fff;
  font-weight: 600;
}

.navbar-toggler-icon li{
  color: #fff!important;
}

.navbar-toggler li{
  color:#fff!important;
}

@media only screen and (max-width: 980px;) {
  #nav li {
    text-align: center!important;
  }
}

/* footer */

.page-footer {
  background: #222!important;
}

.page-footer p {
  color: #fff;
  font-style: italic;
}

.page-footer a {
  font-size: 0.9rem;
  color: #8BD8BD;
}

.page-footer li {
  line-height: 1.2;
}

.page-footer a:hover {
  text-decoration: none;
  color:#8BD8BD;
}

.page-footer h5 {
  color: #8BD8BD;
}

.page-footer iframe {
  width: 200px;
  height: 130px;
}


/* LANDING PAGE */

#land {
  background: url(img/landingPageBackground.png);
  background-repeat: no-repeat;
  background-size: 100%; 
  height: 100vh;
}

#land h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

#land h2 {
  font-size: 1.5rem;
  font-style: italic;
}

#logo {
  opacity: 0.7!important;
  width: 10%;
}

#free {
  font-size: 2.3rem;
  font-family: "Montserrat";
  color:#fff;
  font-style: italic;
  font-weight: 500;
}

/* HOME PAGE */

h3 {
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.blockquote-footer {
  color: #ccc;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 300;
}

div.gallery {
  opacity: 0.7;
}

div.gallery:hover {
  opacity: 1;
  border: none;
  cursor: pointer;
  box-shadow: 7px 7px 7px #333;
  transition-delay: 0.03s;
  transition-duration: 0.5s ;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 3px!important;
} 

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* TEST PAGE */


/* LINKS PAGE */

a {
  color: #243665;
  font-weight: 400;
}

a:hover {
  color: #fff;
  font-weight: 600;
}

/* ABOUT US PAGE */


/* CONTACT PAGE */

.form-group  input,textarea{
  margin-bottom: 30px;
}

.form-group input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

.form-group textarea::placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

