/* POCETAK CSS-A */

/* TEMA CSS */

* {
  color: #555;
  font-family: "Nunito";
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
}

/* TEMA (header,footer) */

/* header */

.bg {
  background: linear-gradient(to right,#243665,#8BD8BD);
  padding: 10px 0;
}

header {
  margin-bottom: 150px;
}

header h1 {
  color: #8BD8BD;
  letter-spacing: 1px;
}

header div {
  font-style: italic;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

#logo {
  width: 13%!important;
}

#nav {
  background: linear-gradient(to right,#243665,#8BD8BD);
  padding: 20px;
}

#nav a {
  font-size: 1.2rem!important;
}

#nav a {
  color: #fff;
  font-weight: 300;
}

#nav a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.navbar-toggler-icon li{
  color: #fff!important;
}

.navbar-toggler li{
  color:#fff!important;
}

/* footer */

.page-footer {
  background: #222!important;
}

.page-footer p {
  color: #fff;
  font-style: italic;
}

.page-footer a {
  font-size: 0.9rem;
  color: #fff;
}

.page-footer li {
  line-height: 1.2;
}

.page-footer a:hover {
  text-decoration: none;
  color:#8BD8BD;
}

.page-footer h5 {
  color: #8BD8BD;
}

.page-footer iframe {
  width: 300px;
  height: 130px;
}


/* LANDING PAGE */

#land {
  background: url(img/landingPageBackground.png);
  background-repeat: no-repeat;
  background-size: 100%; 
  height: 100vh;
}

#land h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

#land h2 {
  font-size: 1.5rem;
  font-style: italic;
}

#logo {
  opacity: 0.7!important;
  width: 10%;
}

@media only screen and (max-width: 700px) {
  #logo {
    width: 25%!important;
  }
}

#free {
  font-size: 2.3rem;
  font-family: "Montserrat";
  color:#fff;
  font-style: italic;
  font-weight: 500;
}

/* HOME PAGE */

.bd-example {
  margin-top: -80px;
}

.carousel-caption {
  background: rgba(0,0,0,0.5)!important;
  border-radius: 5px;
  position: absolute;
  padding: 70px 30px;
  bottom: 50vh;
  transform: translateY(50%);
}

.carousel-item h5 {
  font-size: 2.5em!important;
  margin-bottom: 30px;
  color:#fff;
}

.carousel-item p,strong,em {
  font-size: 1.3em!important;
  font-style: italic;
  color:#fff;
}

.carousel-item span {
  font-size: 1.7em!important;
  color:#fff;
  font-weight: 600;
}

.carousel-item a {
  color:#fff;
  text-decoration: underline;
  font-weight: 400;
  font-size: 1em!important;
}

.carousel-item button {
  font-size: 1.3em!important;
}

@media only screen and (max-width: 1400px) {
  .carousel-item h5 {
    font-size: 1.7em!important;
    margin-bottom: 30px;
    color:#fff;
  }
  
  .carousel-item p,strong,em {
    font-size: 1em!important;
    font-style: italic;
    color:#fff;
  }
  
  .carousel-item span {
    font-size: 1.2em!important;
    color:#fff;
    font-weight: 600;
  }
  
  .carousel-item a {
    color:#fff;
    text-decoration: underline;
    font-weight: 400;
    font-size: 0.8em!important;
  }
  
  .carousel-item button {
    font-size: 1em!important;
  }
}

#home h3,p {
  color: #fff;
}

.welcome h3 {
  font-size: 3rem;
}

.blockquote-footer {
  color: #ccc;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 300;
}

div.gallery {
  opacity: 0.7;
}

div.gallery:hover {
  opacity: 1;
  border: none;
  cursor: pointer;
  box-shadow: 7px 7px 7px #333;
  transition-delay: 0.03s;
  transition-duration: 0.5s ;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 3px!important;
} 

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* TEST PAGE */


/* LINKS PAGE */

a {
  color: #243665;
  font-weight: 400;
}

a:hover {
  font-weight: 700;
  text-decoration: underline;
}

p {
  text-align: justify;
  color: #555;
  font-weight: 300;
}

/* ABOUT US PAGE */


/* CONTACT PAGE */

.form-group  input,textarea{
  margin-bottom: 30px;
}

.form-group input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

.form-group textarea::placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

#cont {
  background-image: url("img/contactbg.png");
  background-repeat: no-repeat;
  background-position: center;
}

#conth {
  color: #fff;
}
